/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

img{
    max-height: 20vh;
}


/* COMMON */

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.container{
    width: 50%;
    height: 90vh;
}

header{
    height: 10%;
}

/* MAIN */
#cards-collector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.card{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


/* UTILITIES */

.mb-1{
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
}